https://arquivos.receitafederal.gov.br/dados/cnpj/dados_abertos_cnpj/2025-03/

## Criando a Session

In [2]:
import findspark
findspark.init()

# Criando uma Session




from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').getOrCreate()
spark

In [3]:

# import glob
# from functools import reduce

# path = "./empresas/*.csv"

# arquivos = glob.glob(path)

# # Ler cada arquivo CSV em um DataFrame e armazenar na lista dfs
# dfs = [spark.read.csv(file, sep=';', inferSchema=True) for file in arquivos]

# # Unir todos os DataFrames em um único DataFrame
# empresas = reduce(lambda df1, df2: df1.union(df2), dfs)

# print(f'Total de linhas lidas: ', empresas.count())

## Importando e renomeando os dados

In [4]:
path_empresas = "./Empresas0/K3241.K03200Y0.D50307.EMPRECSV"
empresas = spark.read.csv(path_empresas, sep=';', inferSchema=True) #inferSchema tenta buscar o tipo dos dados

In [5]:
empresasColNames = ['cnpj_basico', 'razao_social_nome_empresarial', 'natureza_juridica', 'qualificacao_do_responsavel', 'capital_social_da_empresa', 'porte_da_empresa', 'ente_federativo_responsavel']

for index, colName in enumerate(empresasColNames):
    empresas = empresas.withColumnRenamed(f"_c{index}", colName)

In [6]:
path_estabelecimentos = "./Estabelecimentos0/K3241.K03200Y0.D50307.ESTABELE"
estabelecimentos = spark.read.csv(path_estabelecimentos, sep=';', inferSchema=True) #inferSchema tenta buscar o tipo dos dados

In [7]:
estabsColNames = ['cnpj_basico', 'cnpj_ordem', 'cnpj_dv', 'identificador_matriz_filial', 'nome_fantasia', 'situacao_cadastral', 'data_situacao_cadastral', 'motivo_situacao_cadastral', 'nome_da_cidade_no_exterior', 'pais', 'data_de_inicio_atividade', 'cnae_fiscal_principal', 'cnae_fiscal_secundaria', 'tipo_de_logradouro', 'logradouro', 'numero', 'complemento', 'bairro', 'cep', 'uf', 'municipio', 'ddd_1', 'telefone_1', 'ddd_2', 'telefone_2', 'ddd_do_fax', 'fax', 'correio_eletronico', 'situacao_especial', 'data_da_situacao_especial']


for index, colName in enumerate(estabsColNames):
    estabelecimentos = estabelecimentos.withColumnRenamed(f"_c{index}", colName)

In [8]:
path_socios = "./Socios0/K3241.K03200Y0.D50307.SOCIOCSV"
socios = spark.read.csv(path_socios, sep=';', inferSchema=True) #inferSchema tenta buscar o tipo dos dados

In [9]:
sociosColNames = ['cnpj_basico', 'identificador_de_socio', 'nome_do_socio_ou_razao_social', 'cnpj_ou_cpf_do_socio', 'qualificacao_do_socio', 'data_de_entrada_sociedade', 'pais', 'representante_legal', 'nome_do_representante', 'qualificacao_do_representante_legal', 'faixa_etaria']

for index, colName in enumerate(sociosColNames):
    socios = socios.withColumnRenamed(f"_c{index}", colName)

## Visualizando as informações

In [10]:
empresas.count()

21632212

In [11]:
estabelecimentos.count()

22387657

In [12]:
socios.count()

7377166

In [13]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,41273588,STUDIO MVO2 LTDA,2062,49,"20000,00",1,None
1,41273589,IRENILDA OLIVEIRA SILVA 11338767810,2135,50,"5000,00",1,None
2,41273590,MARIA DAS MERCES SOARES LEMOS,4014,34,"0,00",5,None
3,41273591,CASSIO APARECIDO LOPES 06457523803,2135,50,"1000,00",1,None
4,41273592,41.273.592 HELIO DE JESUS PEREIRA,2135,50,"30000,00",1,None

In [14]:
empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: string (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [15]:
estabelecimentos.limit(5).toPandas()

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,24853649,2,02,2,None,2,20180227,0,None,None,...,8561,51,33310100,None,None,NaN,None,None,None,None
1,29793575,1,90,1,BE BOLD SPORTS,8,20221230,1,None,None,...,7107,11,82649333,None,None,NaN,None,GABRIELREISDEALMEIDA@GMAIL.COM,None,None
2,29793592,1,28,1,COPY STORE CONVENIENCIA,8,20180626,1,None,None,...,0447,91,83973790,None,None,NaN,None,None,None,None
3,29086781,1,60,1,MEU CANTINHO,8,20180828,1,None,None,...,8599,54,30271456,None,None,NaN,None,ajasferreira@ucs.com.br,None,None
4,29793616,1,49,1,MAHASIN,8,20190417,1,None,None,...,6789,11,25282988,None,None,NaN,None,Basilio_vanessa@hotmail.com,None,None

In [16]:
estabelecimentos.printSchema()

root
 |-- cnpj_basico: string (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: string (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: integer (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: string (nullable = true)
 |-- data_de_inicio_atividade: integer (nullable = true)
 |-- cnae_fiscal_principal: string (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: string (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: double (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: string (nullable = true)

In [17]:
socios.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,2698592,2,ANA LUCIA VIEIRA,***973291**,49,20240904,NaN,***000000**,None,0,6
1,1070578,2,MARIO DE MELO LIMA,***317474**,22,20000331,NaN,***000000**,None,0,9
2,1070578,2,MARCELO BEZERRA DA SILVA,***317624**,49,20000331,NaN,***000000**,None,0,6
3,4433688,2,ZALMIRA QUEIROZ BRAGA,***845346**,49,20071106,NaN,***000000**,None,0,9
4,4433688,2,ELIDA SIRLENE BRAGA,***703886**,49,20070504,NaN,***000000**,None,0,6

In [18]:
socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: integer (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

## Convertendo Tipos de Variável

In [19]:
from pyspark.sql.types import DoubleType, StringType
from pyspark.sql import functions as f

In [20]:
empresas = empresas.withColumn("capital_social_da_empresa", f.regexp_replace("capital_social_da_empresa", ",", "."))
empresas = empresas.withColumn("capital_social_da_empresa", empresas["capital_social_da_empresa"].cast(DoubleType()))

empresas.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- razao_social_nome_empresarial: string (nullable = true)
 |-- natureza_juridica: integer (nullable = true)
 |-- qualificacao_do_responsavel: integer (nullable = true)
 |-- capital_social_da_empresa: double (nullable = true)
 |-- porte_da_empresa: integer (nullable = true)
 |-- ente_federativo_responsavel: string (nullable = true)

In [21]:
empresas.limit(5).toPandas()

,cnpj_basico,razao_social_nome_empresarial,natureza_juridica,qualificacao_do_responsavel,capital_social_da_empresa,porte_da_empresa,ente_federativo_responsavel
0,41273588,STUDIO MVO2 LTDA,2062,49,20000.0,1,None
1,41273589,IRENILDA OLIVEIRA SILVA 11338767810,2135,50,5000.0,1,None
2,41273590,MARIA DAS MERCES SOARES LEMOS,4014,34,0.0,5,None
3,41273591,CASSIO APARECIDO LOPES 06457523803,2135,50,1000.0,1,None
4,41273592,41.273.592 HELIO DE JESUS PEREIRA,2135,50,30000.0,1,None

In [22]:
estabelecimentos = estabelecimentos\
    .withColumn("data_situacao_cadastral",
                f.to_date(estabelecimentos.data_situacao_cadastral.cast(StringType()), "yyyyMMdd")
                )\
    .withColumn("data_de_inicio_atividade",
                f.to_date(estabelecimentos.data_de_inicio_atividade.cast(StringType()), "yyyyMMdd")
                )\
    .withColumn("data_da_situacao_especial",
                f.to_date(estabelecimentos.data_da_situacao_especial.cast(StringType()), "yyyyMMdd")
                )\

estabelecimentos.printSchema()

root
 |-- cnpj_basico: string (nullable = true)
 |-- cnpj_ordem: integer (nullable = true)
 |-- cnpj_dv: string (nullable = true)
 |-- identificador_matriz_filial: integer (nullable = true)
 |-- nome_fantasia: string (nullable = true)
 |-- situacao_cadastral: integer (nullable = true)
 |-- data_situacao_cadastral: date (nullable = true)
 |-- motivo_situacao_cadastral: integer (nullable = true)
 |-- nome_da_cidade_no_exterior: string (nullable = true)
 |-- pais: string (nullable = true)
 |-- data_de_inicio_atividade: date (nullable = true)
 |-- cnae_fiscal_principal: string (nullable = true)
 |-- cnae_fiscal_secundaria: string (nullable = true)
 |-- tipo_de_logradouro: string (nullable = true)
 |-- logradouro: string (nullable = true)
 |-- numero: string (nullable = true)
 |-- complemento: string (nullable = true)
 |-- bairro: string (nullable = true)
 |-- cep: string (nullable = true)
 |-- uf: string (nullable = true)
 |-- municipio: string (nullable = true)
 |-- ddd_1: string (nullable = true)
 |-- telefone_1: string (nullable = true)
 |-- ddd_2: string (nullable = true)
 |-- telefone_2: string (nullable = true)
 |-- ddd_do_fax: double (nullable = true)
 |-- fax: string (nullable = true)
 |-- correio_eletronico: string (nullable = true)
 |-- situacao_especial: string (nullable = true)
 |-- data_da_situacao_especial: date (nullable = true)

In [23]:
estabelecimentos.limit(5).toPandas()

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,nome_fantasia,situacao_cadastral,data_situacao_cadastral,motivo_situacao_cadastral,nome_da_cidade_no_exterior,pais,...,municipio,ddd_1,telefone_1,ddd_2,telefone_2,ddd_do_fax,fax,correio_eletronico,situacao_especial,data_da_situacao_especial
0,24853649,2,02,2,None,2,2018-02-27,0,None,None,...,8561,51,33310100,None,None,NaN,None,None,None,None
1,29793575,1,90,1,BE BOLD SPORTS,8,2022-12-30,1,None,None,...,7107,11,82649333,None,None,NaN,None,GABRIELREISDEALMEIDA@GMAIL.COM,None,None
2,29793592,1,28,1,COPY STORE CONVENIENCIA,8,2018-06-26,1,None,None,...,0447,91,83973790,None,None,NaN,None,None,None,None
3,29086781,1,60,1,MEU CANTINHO,8,2018-08-28,1,None,None,...,8599,54,30271456,None,None,NaN,None,ajasferreira@ucs.com.br,None,None
4,29793616,1,49,1,MAHASIN,8,2019-04-17,1,None,None,...,6789,11,25282988,None,None,NaN,None,Basilio_vanessa@hotmail.com,None,None

In [24]:
socios = socios\
    .withColumn("data_de_entrada_sociedade",
                f.to_date(socios.data_de_entrada_sociedade.cast(StringType()), "yyyyMMdd")
                )

socios.printSchema()

root
 |-- cnpj_basico: integer (nullable = true)
 |-- identificador_de_socio: integer (nullable = true)
 |-- nome_do_socio_ou_razao_social: string (nullable = true)
 |-- cnpj_ou_cpf_do_socio: string (nullable = true)
 |-- qualificacao_do_socio: integer (nullable = true)
 |-- data_de_entrada_sociedade: date (nullable = true)
 |-- pais: integer (nullable = true)
 |-- representante_legal: string (nullable = true)
 |-- nome_do_representante: string (nullable = true)
 |-- qualificacao_do_representante_legal: integer (nullable = true)
 |-- faixa_etaria: integer (nullable = true)

In [25]:
socios.limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,2698592,2,ANA LUCIA VIEIRA,***973291**,49,2024-09-04,NaN,***000000**,None,0,6
1,1070578,2,MARIO DE MELO LIMA,***317474**,22,2000-03-31,NaN,***000000**,None,0,9
2,1070578,2,MARCELO BEZERRA DA SILVA,***317624**,49,2000-03-31,NaN,***000000**,None,0,6
3,4433688,2,ZALMIRA QUEIROZ BRAGA,***845346**,49,2007-11-06,NaN,***000000**,None,0,9
4,4433688,2,ELIDA SIRLENE BRAGA,***703886**,49,2007-05-04,NaN,***000000**,None,0,6

## Seleções e Consultas

In [26]:
empresas\
    .select("*")\
    .show(5, False) #O false é para não truncar a informação (cortar o texto)

+-----------+-----------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial      |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|41273588   |STUDIO MVO2 LTDA                   |2062             |49                         |20000.0                  |1               |NULL                       |
|41273589   |IRENILDA OLIVEIRA SILVA 11338767810|2135             |50                         |5000.0                   |1               |NULL                       |
|41273590   |MARIA DAS MERCES SOARES LEMOS      |4014             |34                         |0.0                      |5               |NULL                       |
|41273591   |CASSIO APARECIDO LOPES 06457523803 |2135             |50                         |1000.0                   |1               |NULL                       |
|41273592   |41.273.592 HELIO DE JESUS PEREIRA  |2135             |50                         |30000.0                  |1               |NULL                       |
+-----------+-----------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [27]:
empresas\
    .select("natureza_juridica",
            "porte_da_empresa",
            "capital_social_da_empresa")\
    .show(5, False) #O false é para não truncar a informação (cortar o texto)

+-----------------+----------------+-------------------------+
|natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+-----------------+----------------+-------------------------+
|2062             |1               |20000.0                  |
|2135             |1               |5000.0                   |
|4014             |5               |0.0                      |
|2135             |1               |1000.0                   |
|2135             |1               |30000.0                  |
+-----------------+----------------+-------------------------+
only showing top 5 rows

In [28]:
socios\
    .select("nome_do_socio_ou_razao_social", 
            "faixa_etaria", 
            f.year("data_de_entrada_sociedade").alias("ano_de_entrada"))\
    .show(5, False)

+-----------------------------+------------+--------------+
|nome_do_socio_ou_razao_social|faixa_etaria|ano_de_entrada|
+-----------------------------+------------+--------------+
|ANA LUCIA VIEIRA             |6           |2024          |
|MARIO DE MELO LIMA           |9           |2000          |
|MARCELO BEZERRA DA SILVA     |6           |2000          |
|ZALMIRA QUEIROZ BRAGA        |9           |2007          |
|ELIDA SIRLENE BRAGA          |6           |2007          |
+-----------------------------+------------+--------------+
only showing top 5 rows

In [29]:
estabelecimentos\
    .select("nome_fantasia",
            "municipio",
            f.year("data_de_inicio_atividade").alias("ano_de_inicio_atividade"),
            f.month("data_de_inicio_atividade").alias("mes_de_inicio_atividade"))\
    .show(5, False)

+-----------------------+---------+-----------------------+-----------------------+
|nome_fantasia          |municipio|ano_de_inicio_atividade|mes_de_inicio_atividade|
+-----------------------+---------+-----------------------+-----------------------+
|NULL                   |8561     |2018                   |2                      |
|BE BOLD SPORTS         |7107     |2018                   |2                      |
|COPY STORE CONVENIENCIA|0447     |2018                   |2                      |
|MEU CANTINHO           |8599     |2017                   |11                     |
|MAHASIN                |6789     |2018                   |2                      |
+-----------------------+---------+-----------------------+-----------------------+
only showing top 5 rows

## Explorando Nulos

In [30]:
socios.select([f.count(f.when(f.isnull(c),1)).alias(c) for c in socios.columns]).show()

+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|cnpj_basico|identificador_de_socio|nome_do_socio_ou_razao_social|cnpj_ou_cpf_do_socio|qualificacao_do_socio|data_de_entrada_sociedade|   pais|representante_legal|nome_do_representante|qualificacao_do_representante_legal|faixa_etaria|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+
|          0|                     0|                          563|                3434|                    0|                        1|7351526|                  0|              7186226|                                  0|           0|
+-----------+----------------------+-----------------------------+--------------------+---------------------+-------------------------+-------+-------------------+---------------------+-----------------------------------+------------+

In [31]:
socios.na.fill(0).limit(5).toPandas()

,cnpj_basico,identificador_de_socio,nome_do_socio_ou_razao_social,cnpj_ou_cpf_do_socio,qualificacao_do_socio,data_de_entrada_sociedade,pais,representante_legal,nome_do_representante,qualificacao_do_representante_legal,faixa_etaria
0,2698592,2,ANA LUCIA VIEIRA,***973291**,49,2024-09-04,0,***000000**,None,0,6
1,1070578,2,MARIO DE MELO LIMA,***317474**,22,2000-03-31,0,***000000**,None,0,9
2,1070578,2,MARCELO BEZERRA DA SILVA,***317624**,49,2000-03-31,0,***000000**,None,0,6
3,4433688,2,ZALMIRA QUEIROZ BRAGA,***845346**,49,2007-11-06,0,***000000**,None,0,9
4,4433688,2,ELIDA SIRLENE BRAGA,***703886**,49,2007-05-04,0,***000000**,None,0,6

## Ordenando os Dados

In [32]:
socios\
    .select("nome_do_socio_ou_razao_social", 
            "faixa_etaria", 
            f.year("data_de_entrada_sociedade").alias("ano_de_entrada"))\
    .orderBy("ano_de_entrada", ascending=False)\
    .show(5, False)

+-----------------------------+------------+--------------+
|nome_do_socio_ou_razao_social|faixa_etaria|ano_de_entrada|
+-----------------------------+------------+--------------+
|VITOR DE MATTOS LIMA         |4           |2025          |
|LILIA SEBASTIANA DA SILVA    |5           |2025          |
|FABIO MELO DA SILVA          |4           |2025          |
|ALEXANDRE MICCHEL MANSANO    |5           |2025          |
|ANDRE LUIS KUCZKA FUNCK      |4           |2025          |
+-----------------------------+------------+--------------+
only showing top 5 rows

In [33]:
socios\
    .select("nome_do_socio_ou_razao_social", 
            "faixa_etaria", 
            f.year("data_de_entrada_sociedade").alias("ano_de_entrada"))\
    .orderBy(["ano_de_entrada","faixa_etaria"], ascending=[False,False])\
    .show(5, False)

+--------------------------------------------+------------+--------------+
|nome_do_socio_ou_razao_social               |faixa_etaria|ano_de_entrada|
+--------------------------------------------+------------+--------------+
|DULCE CALMON DE BITTENCOURT PINTO DE ALMEIDA|9           |2025          |
|CLEIDE CASTANHO PASQUOT                     |9           |2025          |
|ROBERTO GREGORIO MONTAGNANA                 |9           |2025          |
|THEREZINHA FICO MAURO                       |9           |2025          |
|VERA YVONE CORADIN NOVACKI                  |9           |2025          |
+--------------------------------------------+------------+--------------+
only showing top 5 rows

## Filtrando os dados

In [34]:
empresas\
    .where("capital_social_da_empresa==50")\
    .show(5,False)

+-----------+---------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+---------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|41273672   |ELDILEY FRANCISCO DA COSTA 07757485797       |2135             |50                         |50.0                     |1               |NULL                       |
|41273842   |RAIMUNDO RAFAEL DA SILVA PINHEIRO 07402231356|2135             |50                         |50.0                     |1               |NULL                       |
|41273857   |41.273.857 IDIVANIA DE SOUZA ROTA            |2135             |50                         |50.0                     |1               |NULL                       |
|41274714   |41.274.714 BRUNA KACIANE MARTINS MOUTA       |2135             |50                         |50.0                     |1               |NULL                       |
|41275038   |RAFAELLA TORRES DE AMORIM 44959883871        |2135             |50                         |50.0                     |1               |NULL                       |
+-----------+---------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [35]:
empresas\
    .where(empresas.capital_social_da_empresa==50)\
    .show(5,False)

+-----------+---------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial                |natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+---------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|41273672   |ELDILEY FRANCISCO DA COSTA 07757485797       |2135             |50                         |50.0                     |1               |NULL                       |
|41273842   |RAIMUNDO RAFAEL DA SILVA PINHEIRO 07402231356|2135             |50                         |50.0                     |1               |NULL                       |
|41273857   |41.273.857 IDIVANIA DE SOUZA ROTA            |2135             |50                         |50.0                     |1               |NULL                       |
|41274714   |41.274.714 BRUNA KACIANE MARTINS MOUTA       |2135             |50                         |50.0                     |1               |NULL                       |
|41275038   |RAFAELLA TORRES DE AMORIM 44959883871        |2135             |50                         |50.0                     |1               |NULL                       |
+-----------+---------------------------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [36]:
socios\
    .select("nome_do_socio_ou_razao_social")\
    .filter(socios.nome_do_socio_ou_razao_social.startswith("GUILHERME"))\
    .filter(socios.nome_do_socio_ou_razao_social.endswith("AUGUSTO"))\
    .limit(10)\
    .toPandas()

          nome_do_socio_ou_razao_social
0                GUILHERME LUIZ AUGUSTO
1  GUILHERME FERNANDES DA COSTA AUGUSTO
2  GUILHERME FERNANDES DA COSTA AUGUSTO
3               GUILHERME ALVES AUGUSTO
4              GUILHERME MIGUEL AUGUSTO
5              GUILHERME CERCAL AUGUSTO
6             GUILHERME ANTONIO AUGUSTO
7             GUILHERME MARINHO AUGUSTO
8               GUILHERME SOUZA AUGUSTO
9       GUILHERME DE FIGUEIREDO AUGUSTO

## Método LIKE

In [37]:
empresas\
    .select('razao_social_nome_empresarial', 'natureza_juridica', 'porte_da_empresa', 'capital_social_da_empresa')\
    .filter(f.upper(empresas['razao_social_nome_empresarial']).like('%ROLISOLA%'))\
    .show(15, False)
    
#Se tiver % nos dois lados, pega em qualquer lugar da string, se tiver apenas na %esquerda, pega se está no começo da string, se estiver no final% pega só se estiver no final da string

+---------------------------------------+-----------------+----------------+-------------------------+
|razao_social_nome_empresarial          |natureza_juridica|porte_da_empresa|capital_social_da_empresa|
+---------------------------------------+-----------------+----------------+-------------------------+
|HAYANE DE MELO ROLISOLA 51024696812    |2135             |1               |1000.0                   |
|LUIS PIETRU ROLISOLA 50822126800       |2135             |1               |1500.0                   |
|47.272.028 ROSANILDA DE MELO ROLISOLA  |2135             |1               |1000.0                   |
|OCTAVIO ROLISOLA                       |2135             |1               |0.0                      |
|54.309.488 HAYANE DE MELO ROLISOLA     |2135             |1               |6000.0                   |
|JOAO LUIS ROLISOLA                     |2135             |5               |0.0                      |
|55.798.132 ALINE DANIELI ROLISOLA BELLO|2135             |1               |30000.0                  |
|MENDONCA & ROLISOLA LTDA               |2062             |1               |0.0                      |
|MARIA DE LOURDES ROLISOLA BAR          |2135             |5               |0.0                      |
+---------------------------------------+-----------------+----------------+-------------------------+

## Agregando os dados

In [38]:
socios\
    .select(f.year("data_de_entrada_sociedade").alias("ano_de_entrada"))\
    .where("ano_de_entrada >= 2010")\
    .groupBy("ano_de_entrada")\
    .count()\
    .orderBy("ano_de_entrada", ascending=True)\
    .show(15,False)

+--------------+------+
|ano_de_entrada|count |
+--------------+------+
|2010          |220115|
|2011          |230038|
|2012          |219985|
|2013          |226809|
|2014          |216179|
|2015          |212428|
|2016          |210191|
|2017          |224601|
|2018          |245994|
|2019          |278291|
|2020          |293837|
|2021          |405493|
|2022          |450778|
|2023          |524567|
|2024          |623825|
+--------------+------+
only showing top 15 rows

In [39]:
empresas\
    .select('cnpj_basico', 'porte_da_empresa', 'capital_social_da_empresa')\
    .groupBy('porte_da_empresa')\
    .agg(
        f.avg("capital_social_da_empresa").alias("capital_social_medio"),
        f.count("cnpj_basico").alias("frequencia")
    )\
    .orderBy('porte_da_empresa', ascending=True)\
    .show()

+----------------+--------------------+----------+
|porte_da_empresa|capital_social_medio|frequencia|
+----------------+--------------------+----------+
|            NULL|  0.8485639686684073|     15320|
|               1|  1170630.9481629333|  16569299|
|               3|2.1693376749592555E8|    635701|
|               5|1.9407359801659305E7|   4411892|
+----------------+--------------------+----------+

In [40]:
empresas\
    .select("capital_social_da_empresa")\
    .summary()\
    .show()

+-------+-------------------------+
|summary|capital_social_da_empresa|
+-------+-------------------------+
|  count|                 21632212|
|   mean|     1.1229768023388263E7|
| stddev|     2.6893557257361574E9|
|    min|                      0.0|
|    25%|                      1.0|
|    50%|                   1500.0|
|    75%|                  10000.0|
|    max|         9.99999999999E11|
+-------+-------------------------+

## Join Dataset

In [41]:
empresas_join = estabelecimentos.join(empresas,"cnpj_basico", how="inner")

In [42]:
freq = empresas_join\
    .select(
        'cnpj_basico', 
        f.year('data_de_inicio_atividade').alias('data_de_inicio')
    )\
    .where('data_de_inicio >= 2010')\
    .groupBy('data_de_inicio')\
    .agg(f.count("cnpj_basico").alias("frequencia"))\
    .orderBy('data_de_inicio', ascending=True)
    
freq.toPandas()

    data_de_inicio  frequencia
0             2010        3987
1             2011       15036
2             2012        4069
3             2013        3548
4             2014        3420
5             2015        3259
6             2016        2883
7             2017        3334
8             2018        5133
9             2019        5521
10            2020        6822
11            2021     1242862
12            2022     1555095
13            2023     1560802
14            2024     1904522
15            2025      522058

In [43]:
freq.union(
    freq.select(
        f.lit('Total').alias('data_de_inicio'),
        f.sum(freq.frequencia).alias('frequencia')   
    )
).show()

+--------------+----------+
|data_de_inicio|frequencia|
+--------------+----------+
|          2010|      3987|
|          2011|     15036|
|          2012|      4069|
|          2013|      3548|
|          2014|      3420|
|          2015|      3259|
|          2016|      2883|
|          2017|      3334|
|          2018|      5133|
|          2019|      5521|
|          2020|      6822|
|          2021|   1242862|
|          2022|   1555095|
|          2023|   1560802|
|          2024|   1904522|
|          2025|    522058|
|         Total|   6842351|
+--------------+----------+

## SPARK SQL

In [44]:
empresas.createOrReplaceTempView("empresasView")
spark.sql("SELECT * FROM empresasView").show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|   41273588|             STUDIO MVO2 LTDA|             2062|                         49|                  20000.0|               1|                       NULL|
|   41273589|         IRENILDA OLIVEIRA...|             2135|                         50|                   5000.0|               1|                       NULL|
|   41273590|         MARIA DAS MERCES ...|             4014|                         34|                      0.0|               5|                       NULL|
|   41273591|         CASSIO APARECIDO ...|             2135|                         50|                   1000.0|               1|                       NULL|
|   41273592|         41.273.592 HELIO ...|             2135|                         50|                  30000.0|               1|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [45]:
spark\
    .sql("""
        SELECT * 
            FROM empresasView 
            WHERE capital_social_da_empresa = 50
    """)\
    .show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|   41273672|         ELDILEY FRANCISCO...|             2135|                         50|                     50.0|               1|                       NULL|
|   41273842|         RAIMUNDO RAFAEL D...|             2135|                         50|                     50.0|               1|                       NULL|
|   41273857|         41.273.857 IDIVAN...|             2135|                         50|                     50.0|               1|                       NULL|
|   41274714|         41.274.714 BRUNA ...|             2135|                         50|                     50.0|               1|                       NULL|
|   41275038|         RAFAELLA TORRES D...|             2135|                         50|                     50.0|               1|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

In [46]:
spark\
    .sql(""" 
         SELECT porte_da_empresa, MEAN(capital_social_da_empresa) AS Media
         FROM empresasView
         GROUP BY porte_da_empresa
         """)\
    .show(5)

+----------------+--------------------+
|porte_da_empresa|               Media|
+----------------+--------------------+
|            NULL|  0.8485639686684073|
|               1|  1170630.9481629333|
|               3|2.1693376749592555E8|
|               5|1.9407359801659305E7|
+----------------+--------------------+

In [47]:
empresas_join.createOrReplaceTempView("empresasJoinView")

In [48]:
freq = spark\
    .sql("""
         SELECT YEAR(data_de_inicio_atividade) AS data_de_inicio, COUNT (cnpj_basico) AS count
         FROM empresasJoinView
         WHERE YEAR(data_de_inicio_atividade) >= 2010
         GROUP BY data_de_inicio
         ORDER BY data_de_inicio
         """)
    
freq.show(5)

+--------------+-----+
|data_de_inicio|count|
+--------------+-----+
|          2010| 3987|
|          2011|15036|
|          2012| 4069|
|          2013| 3548|
|          2014| 3420|
+--------------+-----+
only showing top 5 rows

In [49]:
freq.createOrReplaceTempView("freqView")

In [50]:
spark\
    .sql("""
        SELECT *
            FROM freqView
        UNION ALL
        SELECT 'Total' AS data_de_inicio, SUM(count) AS count
            FROM freqView
         """)\
    .show()

+--------------+-------+
|data_de_inicio|  count|
+--------------+-------+
|          2010|   3987|
|          2011|  15036|
|          2012|   4069|
|          2013|   3548|
|          2014|   3420|
|          2015|   3259|
|          2016|   2883|
|          2017|   3334|
|          2018|   5133|
|          2019|   5521|
|          2020|   6822|
|          2021|1242862|
|          2022|1555095|
|          2023|1560802|
|          2024|1904522|
|          2025| 522058|
|         Total|6842351|
+--------------+-------+

## Salvar e Ler CSV

In [51]:

empresas.write.csv(
    path='./empresas0/csv',
    mode='overwrite',
    sep=';',
    header=True
)

In [52]:
empresas2 = spark.read.csv(
    './empresas0/csv',
    sep=';',
    inferSchema=True,
    header=True
)

In [53]:
empresas2.show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|   55145960|         55.145.960 EDER B...|             2135|                         50|                      1.0|               1|                       NULL|
|   55145961|         55.145.961 JEFFER...|             2135|                         50|                  20000.0|               1|                       NULL|
|   55145962|         55.145.962 SERGIO...|             2135|                         50|                  15850.0|               1|                       NULL|
|   55145963|         55.145.963 JOSE C...|             2135|                         50|                   5000.0|               1|                       NULL|
|   55145964|         55.145.964 DIEGO ...|             2135|                         50|                     10.0|               1|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

## Salvar e Ler Parquet

In [54]:
empresas.write.parquet(
    path='./empresas0/parquet',
    mode='overwrite'
)

In [55]:
empresas_parquet = spark.read.parquet(
    './empresas0/parquet'
)

In [56]:
empresas_parquet.show(5)

+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|cnpj_basico|razao_social_nome_empresarial|natureza_juridica|qualificacao_do_responsavel|capital_social_da_empresa|porte_da_empresa|ente_federativo_responsavel|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
|   43004807|         GEORGIA MAVEL DE ...|             2135|                         50|                   1000.0|               1|                       NULL|
|   43004808|         GUTI ARTEFATOS DE...|             2062|                         49|                  50000.0|               1|                       NULL|
|   43004809|         43.004.809 SHEILA...|             2135|                         50|                   2000.0|               1|                       NULL|
|   43004810|         J L ENGENHARIA  E...|             2062|                         49|                 500000.0|               1|                       NULL|
|   43004811|         COMERCIO DE ARTIG...|             2062|                         49|                      0.0|               5|                       NULL|
+-----------+-----------------------------+-----------------+---------------------------+-------------------------+----------------+---------------------------+
only showing top 5 rows

## Particionamento dos Dados

In [ ]:
empresas.coalesce(1).write.csv(
    path='./empresas0/csv_unico',
    mode='overwrite',
    sep=';',
    header=True
)

In [ ]:
empresas.write.parquet(
    path='./empresas0/parquet-partitionBy',
    mode='overwrite',
        partitionBy='porte_da_empresa'
)